*.pyc
.vscode
output*/
build
checkpoint/
diff/
dtu_eval/
output/
pytorch3d/
video/
vis/
img_repair*
mesh*
__pycache__
tensorboard_3d
screenshots
debug/
gaussian_renderer/__pycache__
scene/__pycache__
utils/__pycache__
*.egg-info
debug*
/models/
openai/
Marigold/checkpoint/
dtu_eval/Offical_DTU_Dataset
stage1_llff.py
stage2_llff.py
sparse*
stage3*
train.py
render_video.py
makevideo.py
gsrepair*
pytorch3d/
SIBR*
lora*